script(src="top-nav.js")

.top-nav
  map(name='New_TopTabs')
    area(shape='RECT', href='http://www.costumecraze.com/category/costume-index', alt='Halloween Costumes', title='Halloween Costumes', coords='913,4, 995,140')
    area(shape='RECT', href='http://www.costumecraze.com/category/accessories', alt='Accessories', title='Accessories', coords='817,4, 907,140')
    area(shape='RECT', href='http://www.costumecraze.com/category/holiday-costumes', alt='Holiday Costumes', title='Holiday Costumes', coords='733,3, 814,139')
    area(shape='RECT', href='http://www.costumecraze.com/category/dog-costumes', alt='Dog Costumes', title='Dog Costumes', coords='642,4, 728,140')
    area(shape='RECT', href='http://www.costumecraze.com/category/teen-costumes', alt='Teen Costumes', title='Teen Costumes', coords='554,4, 636,140')
    area(shape='RECT', href='http://www.costumecraze.com/category/plus-size-costumes', alt='Plus Size Costumes', title='Plus Size Costumes', coords='462,4, 547,140')
    area(shape='RECT', href='http://www.costumecraze.com/category/baby-and-toddler-costumes', alt='Baby and Toddler Costumes', title='Baby and Toddler Costumes', coords='364,4, 457,140')
    area(shape='RECT', href='http://www.costumecraze.com/category/boys-costumes', alt='Boys Costumes', title='Boys Costumes', coords='271,4, 354,140')
    area(shape='RECT', href='http://www.costumecraze.com/category/girls-costumes', alt='Girls Costumes', title='Girls Costumes', coords='184,4, 266,140')
    area(shape='RECT', href='http://www.costumecraze.com/category/mens-costumes', alt="Men's Costumes", title="Men's Costumes", coords='99,4, 179,140')
    area(shape='RECT', href='http://www.costumecraze.com/category/womens-costumes', alt="Women's Costumes", title="Women's Costumes", coords='2,4, 93,140')
  .nav-image
    .nav-image-png
      img(src="top-nav-image.png" usemap="#New_TopTabs")
    .nav-image-jpg
      img(src="top-nav-image.jpg" usemap="#New_TopTabs")
  .nav-text
    a(class="w92" href='http://www.costumecraze.com/category/womens-costumes').
      Womens Costumes
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w88" href='http://www.costumecraze.com/category/mens-costumes').
      Mens Costumes
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w88" href='http://www.costumecraze.com/category/girls-costumes').
      Girls Costumes
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w97" href='http://www.costumecraze.com/category/boys-costumes').
      Boys Costumes
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w97" href='http://www.costumecraze.com/category/baby-and-toddler-costumes').
      Baby & Toddler Costumes
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w90" href='http://www.costumecraze.com/category/plus-size-costumes').
      Plus Size Costumes
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w87" href='http://www.costumecraze.com/category/teen-costumes').
      Teen Costumes
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w85" href='http://www.costumecraze.com/category/dog-costumes').
      Dog Costumes
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w82" href='http://www.costumecraze.com/category/holiday-costumes').
      Holiday Costumes
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w90" href='http://www.costumecraze.com/category/accessories').
      Accessories
    span.nav-divider
      img(src='http://img.costumecraze.com/images/new_elements/white_divider.gif')
    a(class="w90" href='http://www.costumecraze.com/category/costume-index').
      Halloween Costumes
